body {
    background-image: url('katarina-sikuljak-BeEnOzyIBsU-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align-last: center;
    font-family: Courier;
}
